# *for loops

In [1]:
seq = [1,2,3,4,5]

In [2]:
for num in seq:
    print("i am number {}".format(num))

i am number 1
i am number 2
i am number 3
i am number 4
i am number 5

# *while loops

In [6]:
i = 1

while i<5:
    print("hello my number {}".format(i))
    i+=1

hello my number 1
hello my number 2
hello my number 3
hello my number 4

some usefull functions in python

# *Range()

lets see the old tradional way of keeping a sequnce of characters in loops :

In [8]:
for num in seq:
    print(num)

1
2
3
4
5

instead we use a range function. Which is like a generator of numerical values

In [11]:
for num in range(1,10):
    print("{} is my lucky number ".format(num))

1 is my lucky number
2 is my lucky number
3 is my lucky number
4 is my lucky number
5 is my lucky number
6 is my lucky number
7 is my lucky number
8 is my lucky number
9 is my lucky number

In [10]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# List Comprehension

this will help or allow you to save a bunch of writting

In [12]:
x = [1,2,3,4,5]

here i want to produce a list with squared values of the original list of x

In [14]:
out = []

for num in x:
    out.append(num**2)

In [15]:
print(out)

[1, 4, 9, 16, 25]

Now we're going to translate the above procedures by implementing a list comprehension

In [16]:
[num**2 for num in x]

[1, 4, 9, 16, 25]

so simply we can put the above idea in the following manner

In [17]:
out = [num**2 for num in x]

In [18]:
print(out)

[1, 4, 9, 16, 25]

Hence all those two methods produce the same thing.But list comprehession will save more time for you

# functions

for the syntax
    def function_name(parameters_1):
        print(parameter_1)
        
To call the function for use, we use the following syntax
=> function_name(parameter_1)

In [20]:
def my_func(par:str):
    print(par)

In [21]:
my_func("hello")

hello

* Now lets create a function named square,that takes in a number and returns the square of that number

In [29]:
def square(num):
    """
    This is a doc multiline string
    and this function squares a number passed a parameter
    """
    return num**2

In [23]:
square(6)

36

In [26]:
the_square_is = square(num)

In [27]:
print(the_square_is)

25

now if you want to see my documntation string you have to write, the function name and press shift + tab

# Map

now lets begin by creating a function

In [31]:
def times2(var):
    return var*2

In [32]:
times2(5)

10

*now for the map function/

In [33]:
#creating a sequence named seq
seq = [1,2,3,4,5]

* map is a built in function in python, that allows you to save the step of initiializing a for loop and saving the results in another function

In [34]:
map(times2,seq)

* the above out[34], describes that we have a map at location 0x7f0d13b3bb80

now lets cast this into a list by using boilt in function

In [36]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

 
    
    
    
# Lambda Expression

    now here what we do is, we use the times2 function above to make a new function powered by lambda expression

In [38]:
lambda var:var*2

* so we can assign the expression in a variable, then use the variable to act as ordinary calling of functions

In [39]:
t = lambda var:var*2

In [40]:
t(4)

8

Lambda expressions are normally used in maps..

In [42]:
list(map(lambda num:num*2,seq))

[2, 4, 6, 8, 10]


#  filter() built in function

the filter function does have similar structure to the map function, but instead of using the function for evey single element in the list, this will filter them out instead

In [43]:
filter(lambda num:num%2 == 0,seq)

* In order to get the results back, we have to cast the filter function into a list

In [45]:
list(filter(lambda num:num%2 == 0, seq))

[2, 4]



# Some String Methods

consider the following string and the use of the methods within

In [47]:
s = "hello, my name is Joseph"

* s.lower

In [50]:
s.lower()

'hello, my name is joseph'

In [51]:
s.upper()

'HELLO, MY NAME IS JOSEPH'

In [52]:
s.split()

['hello,', 'my', 'name', 'is', 'Joseph']

In [53]:
tweet='Go sports #sports'

In [54]:
tweet.split()

['Go', 'sports', '#sports']

In [55]:
tweet.split("#")

['Go sports ', 'sports']

* consider a dictionary

In [57]:
d = {"k1":1,"k2":2}

In [61]:
d.keys()

dict_keys(['k1', 'k2'])

In [62]:
d.items()

dict_items([('k1', 1), ('k2', 2)])


* some usefull methods for list

In [63]:
lst = [1,2,3]

In [64]:
lst.pop()

3

* The above function does remove the last value of the list and lets you even store it in a variable

In [66]:
lst.append("hello")

*the above method added an item into the list

In [68]:
string = lst.pop(2)

In [69]:
print(string)

hello





* methods in tuples

In [70]:
tup = [(2,4),(3,6),(3,1),(1,8)]

In [71]:
for (a,b) in tup:
    print(a)

2
3
3
1

the above is called, tupple unpacking